@font-face {
    font-family: montserrat;
    src: url(../fonts/MONTSERRAT-VARIABLEFONT_WGHT.TTF);
}
@font-face {
    font-family: montserrat2;
    src: url(../fonts/MONTSERRATREGULAR.TTF);
}
body {
    background: #26335D;
    width: 100%;
    max-width: 1550px;
    height: 700px;
}
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 280px;
    margin-right: 195px;
    margin-top: 30px;
}
.logo h3 {
    font-family: montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.nav {
    margin-right: 250px;
}
.nav a {
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 17px;
    text-decoration: none;
}
.auth a {
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}
.btn1 {
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #1BC768;
    padding: 25px;
    gap: 15px;
    height: 52px;
    width: 135px;
    border-radius: 5px;
}
.arrow {
    width: 12px;
    height: 10px;
    color: #FFFFFF;
}
.auth {
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.main1 {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 0;
    margin-top: 100px;
    gap: 35px;
}
.Mcont1 h5 {
    font-family: montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1BC768;
}
.Mcont1 h1 {
    font-family: montserrat;
    font-size: 58px;
    max-width: 500px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.Mcont1 h2 {
    font-family: montserrat2;
    max-width: 450px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.btndiv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.btndiv .btn2 {
    width: 195px;
    height: 52px;
    background-color: #1BC768;
    
    gap: 10px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}
.btndiv .btn3 {
    width: 165px;
    height: 52px;
    border-radius: 5px;
    border: solid 1px #1BC768;
    background-color: transparent;
    font-size: 14px;
    color: 1BC768;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}
.Mcont2 {
    position: relative;
    width: 45%;
    max-width: 550px;
    height: 520px;    
    margin: 40px auto;
    margin-right: 0;
}
.imgBack {
    position: absolute;
    width: 55%;
    height: 70%;
    margin-right: 0;
    z-index: 1;
    border-radius: 8%;
}
.imgFront {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 8%;
}

