h1 {
    color: #151580;
    font-size: 50px;
    text-align: center;
}
p {
    color: rgb(24, 96, 24);
    font-size: 42px;
    text-align: justify;
}
.my-image {
    border: #1c751c; 5px
    border-radius: 15%;
    width: :autofill;
    height: :autofill;
}
.my-button {
    background-color: #7272ae;
    color: rgb(189, 81, 124);
    border: 2px solid #3b522a;
    
}